<!-- About Me Page-->

<body>
<div class="container">
    <div class="paragraph">
    <p>
    My name is Jalen Mendonca. I am a Canadian citizen who was born and raised in Toronto, Ontario.
    In 2019 I began studying "Game - Programming" at Centennial College.
    I intend on transferring to the "Software Engineering Technician" program next semester, and I expect to receive my Ontario College Diploma.
    After this I am planning on continuing my education at Centennial College by enrolling in their Cybersecurity certificate program.
    <br>
    My passion for information technology began through my usage of computers throughout my entire life.
    I have always been intrigued by the "black box" nature of computing, and I am always curious to understand how different systems work behind the scenes.
    To see what projects I am currently working on, please navigate to the <a href="https://jmendonca-app1.herokuapp.com/projects">Projects page</a>.
    </p>
    </div>
</div>

<img src="Assets/images/Jalen.JPG">

</body>