<!--Contact Me Page-->

<div class="container">
<form action="https://jmendonca-app1.herokuapp/home" name="contactForm" onsubmit="return validateForm()" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value=""><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" value=""><br>
  <label for="message">Message:</label><br>
  <input type="text" id="message" name="message" value="Type your message here."><br><br>
  <input type="submit" value="Submit">
</form> 

<div class="paragraph">
<p>Please fill out the form and click the "Submit" button.</p>
</div>

</div>


<script src="/Content/scripts/validateForm.js"> </script>