<!--Home Page-->

<div class="container">

<div class="paragraph">
    <p>
    Welcome to Jalen Mendonca's personal portfolio website. Please <a href="https://jmendonca-app1.herokuapp.com/about">click here</a> to learn more about me.
    </p>
</div>    
<img src="Assets/images/Jalen.JPG" alt="Jalen Mendonca" class="center">

</div>